script(src='../assets/js/jquery.min.js')
script(src='../assets/js/chart.js')
script(src='../assets/js/toolkit.js')
script(src='../assets/js/application.js')
script.
  $(function() {
    if (window.BS&&window.BS.loader&&window.BS.loader.length) {
      while (BS.loader.length) {
        (BS.loader.pop())();
      }
    }
  });
