extends layout.pug
block content
  .profile-header.text-center(style='background-image: url(../assets/img/iceland.jpg);')
    .container
      .container-inner
        img.img-circle.media-object(src='../assets/img/avatar-dhg.png')
        h3.profile-header-user Dave Gamache
        p.profile-header-bio  I wish i was a little bit taller, wish i was a baller, wish i had a girl&mldr;&nbsp;also.
    nav.profile-header-nav
      ul.nav.nav-tabs
        li.active
          a(href='#') Photos
        li
          a(href='#') Others
        li
          a(href='#') Anothers
  .container.m-y-md(data-grid='images')
    div
      img(data-width='640', data-height='400', data-action='zoom', src='../assets/img/instagram_5.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_6.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_7.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_8.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_9.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_10.jpg')
    div
      img(data-width='640', data-height='400', data-action='zoom', src='../assets/img/instagram_11.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_12.jpg')
    div
      img(data-width='640', data-height='400', data-action='zoom', src='../assets/img/instagram_13.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_14.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_15.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_16.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_17.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_18.jpg')
    div
      img(data-width='640', data-height='400', data-action='zoom', src='../assets/img/instagram_1.jpg')
    div
      img(data-width='640', data-height='640', data-action='zoom', src='../assets/img/instagram_2.jpg')
