extends layout
block content
  #userModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='userModal', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4.modal-title Users
        .modal-body.p-a-0
          .modal-body-scroller
            ul.media-list.media-list-users.list-group
              li.list-group-item
                .media
                  a.media-left(href='#')
                    img.media-object.img-circle(src='assets/img/avatar-fat.jpg')
                  .media-body
                    button.btn.btn-default.btn-sm.pull-right
                      span.glyphicon.glyphicon-user
                      |  Follow
                    |  
                    strong Jacob Thornton
                    p @fat - San Francisco
              li.list-group-item
                .media
                  a.media-left(href='#')
                    img.media-object.img-circle(src='assets/img/avatar-dhg.png')
                  .media-body
                    button.btn.btn-default.btn-sm.pull-right
                      span.glyphicon.glyphicon-user
                      |  Follow
                    |  
                    strong Dave Gamache
                    p @dhg - Palo Alto
              li.list-group-item
                .media
                  a.media-left(href='#')
                    img.media-object.img-circle(src='assets/img/avatar-mdo.png')
                  .media-body
                    button.btn.btn-default.btn-sm.pull-right
                      span.glyphicon.glyphicon-user
                      |  Follow
                    |  
                    strong Mark Otto
                    p @mdo - San Francisco
  .container.p-t-md
    .row
      .col-md-3
        .panel.panel-default.panel-profile.m-b-md
          .panel-heading(style='background-image: url(assets/img/iceland.jpg);')
          .panel-body.text-center
            a(href='profile/')
              img.panel-profile-img(src='assets/img/avatar-dhg.png')
            h5.panel-title
              a.text-inherit(href='profile/index.html') Dave Gamache
            p.m-b-md I wish i was a little bit taller, wish i was a baller, wish i had a girl&mldr;&nbsp;also.
            ul.panel-menu
              li.panel-menu-item
                a.text-inherit(href='#userModal', data-toggle='modal')
                  | Friends
                  h5.m-y-0 12M
              li.panel-menu-item
                a.text-inherit(href='#userModal', data-toggle='modal')
                  | Enemies
                  h5.m-y-0 1
        .panel.panel-default.visible-md-block.visible-lg-block
          .panel-body
            h5.m-t-0
              | About 
              small
                | &middot; 
                a(href='#') Edit
            ul.list-unstyled.list-spaced
              li
                span.text-muted.icon.icon-calendar.m-r
                | Went to 
                a(href='#') Oh, Canada
              li
                span.text-muted.icon.icon-users.m-r
                | Became friends with 
                a(href='#') Obama
              li
                span.text-muted.icon.icon-github.m-r
                | Worked at 
                a(href='#') Github
              li
                span.text-muted.icon.icon-home.m-r
                | Lives in 
                a(href='#') San Francisco, CA
              li
                span.text-muted.icon.icon-location-pin.m-r
                | From 
                a(href='#') Seattle, WA
        .panel.panel-default.visible-md-block.visible-lg-block
          .panel-body
            h5.m-t-0
              | Photos 
              small
                | &middot; 
                a(href='#') Edit
            div(data-grid='images', data-target-height='150')
              div
                img(data-width='640', data-height='640', data-action='zoom', src='assets/img/instagram_5.jpg')
              div
                img(data-width='640', data-height='640', data-action='zoom', src='assets/img/instagram_6.jpg')
              div
                img(data-width='640', data-height='640', data-action='zoom', src='assets/img/instagram_7.jpg')
              div
                img(data-width='640', data-height='640', data-action='zoom', src='assets/img/instagram_8.jpg')
              div
                img(data-width='640', data-height='640', data-action='zoom', src='assets/img/instagram_9.jpg')
              div
                img(data-width='640', data-height='640', data-action='zoom', src='assets/img/instagram_10.jpg')
      .col-md-6
        ul.list-group.media-list.media-list-stream
          li.media.list-group-item.p-a
            .input-group
              input.form-control(type='text', placeholder='Message')
              .input-group-btn
                button.btn.btn-default(type='button')
                  span.icon.icon-camera
          li.media.list-group-item.p-a
            a.media-left(href='#')
              img.media-object.img-circle(src='assets/img/avatar-dhg.png')
            .media-body
              .media-heading
                small.pull-right.text-muted 4 min
                h5 Dave Gamache
              p
                | Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              .media-body-inline-grid(data-grid='images')
                div(style='display: none')
                  img(data-action='zoom', data-width='1050', data-height='700', src='assets/img/unsplash_1.jpg')
                div(style='display: none')
                  img(data-action='zoom', data-width='640', data-height='640', src='assets/img/instagram_1.jpg')
                div(style='display: none')
                  img(data-action='zoom', data-width='640', data-height='640', src='assets/img/instagram_13.jpg')
                div(style='display: none')
                  img(data-action='zoom', data-width='1048', data-height='700', src='assets/img/unsplash_2.jpg')
              ul.media-list.m-b
                li.media
                  a.media-left(href='#')
                    img.media-object.img-circle(src='assets/img/avatar-fat.jpg')
                  .media-body
                    strong Jacon Thornton:
                    |  Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                li.media
                  a.media-left(href='#')
                    img.media-object.img-circle(src='assets/img/avatar-mdo.png')
                  .media-body
                    strong Mark Otto:
                    |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          li.media.list-group-item.p-a
            a.media-left(href='#')
              img.media-object.img-circle(src='assets/img/avatar-fat.jpg')
            .media-body
              .media-body-text
                .media-heading
                  small.pull-right.text-muted 12 min
                  h5 Jacob Thornton
                p
                  | Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          li.media.list-group-item.p-a
            a.media-left(href='#')
              img.media-object.img-circle(src='assets/img/avatar-mdo.png')
            .media-body
              .media-heading
                small.pull-right.text-muted 34 min
                h5 Mark Otto
              p
                | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              .media-body-inline-grid(data-grid='images')
                img(style='display: none', data-width='640', data-height='640', data-action='zoom', src='assets/img/instagram_3.jpg')
              ul.media-list
                li.media
                  a.media-left(href='#')
                    img.media-object.img-circle(src='assets/img/avatar-dhg.png')
                  .media-body
                    strong Dave Gamache:
                    |  Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
      .col-md-3
        .alert.alert-warning.alert-dismissible.hidden-xs(role='alert')
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
          |  
          a.alert-link(href='../profile/index.html') Visit your profile!
          |  Check your self, you aren&apos;t looking too good.
        .panel.panel-default.m-b-md.hidden-xs
          .panel-body
            h5.m-t-0 Sponsored
            div(data-grid='images', data-target-height='150')
              img.media-object(data-width='640', data-height='640', data-action='zoom', src='assets/img/instagram_2.jpg')
            p
              strong It might be time to visit Iceland.
              |  Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?
            |  
            button.btn.btn-primary-outline.btn-sm Buy a ticket
        .panel.panel-default.m-b-md.hidden-xs
          .panel-body
            h5.m-t-0
              | Likes 
              small
                | &middot; 
                a(href='#') View All
            ul.media-list.media-list-stream
              li.media.m-b
                a.media-left(href='#')
                  img.media-object.img-circle(src='assets/img/avatar-fat.jpg')
                .media-body
                  strong Jacob Thornton
                  |  @fat
                  .media-body-actions
                    button.btn.btn-primary-outline.btn-sm
                      span.icon.icon-add-user
                      |  Follow
              li.media
                a.media-left(href='#')
                  img.media-object.img-circle(src='assets/img/avatar-mdo.png')
                .media-body
                  strong Mark Otto
                  |  @mdo
                  .media-body-actions
                    button.btn.btn-primary-outline.btn-sm
                      span.icon.icon-add-user
                      |  Follow
          .panel-footer  Dave really likes these nerds, no one knows why though.
        .panel.panel-default.panel-link-list
          .panel-body
            | &copy; 2015 Bootstrap 
            a(href='#') About
            |  
            a(href='#') Help
            |  
            a(href='#') Terms
            |  
            a(href='#') Privacy
            |  
            a(href='#') Cookies
            |  
            a(href='#') Ads
            |  
            a(href='#') info
            |  
            a(href='#') Brand
            |  
            a(href='#') Blog
            |  
            a(href='#') Status
            |  
            a(href='#') Apps
            |  
            a(href='#') Jobs
            |  
            a(href='#') Advertise
