doctype html
html
  head
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Appendid is a community platform for writers to share their work and get meaningful feedback.')
    meta(name='keywords' content='writers,community,sharing')
    meta(name='author' content='Malcolm McSwain')
    
    title appendid | #{title}
    
  body
    
    block content
    
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js')
