doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    title  #{title} &middot; appendid
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')
    link(href='../assets/css/toolkit.css', rel='stylesheet')
    link(href='../assets/css/application.css', rel='stylesheet')
    if page == 'docs'
      link(href="../assets/css/docs.css", rel="stylesheet")
  body.with-top-navbar
    #app-growl.growl
    nav.navbar.navbar-inverse.navbar-fixed-top.app-navbar
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-main')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='../')
            img(src='../assets/img/brand-white.png', alt='brand')
        #navbar-collapse-main.navbar-collapse.collapse
          ul.nav.navbar-nav.hidden-xs
            li.active
              a(href='../') Home
            li
              a(href='../profile') Profile
            li
              a(data-toggle='modal', href='#msgModal') Messages
            li
              a(href='../docs/index.html') Docs
          ul.nav.navbar-nav.navbar-right.m-r-0.hidden-xs
            li
              a.app-notifications(href='../notifications')
                span.icon.icon-bell
            li
              button.btn.btn-default.navbar-btn.navbar-btn-avitar(data-toggle='popover')
                img.img-circle(src='../assets/img/avatar-dhg.png')
          form.navbar-form.navbar-right.app-search(role='search')
            .form-group
              input.form-control(type='text', data-action='grow', placeholder='Search')
          ul.nav.navbar-nav.hidden-sm.hidden-md.hidden-lg
            li
              a(href='../') Home
            li
              a(href='../profile') Profile
            li
              a(href='../notifications') Notifications
            li
              a(data-toggle='modal', href='#msgModal') Messages
            li
              a(href='../docs/index.html') Docs
            li
              a(href='#', data-action='growl') Growl
            li
              a(href='../login/index.html') Logout
          ul.nav.navbar-nav.hidden
            li
              a(href='#', data-action='growl') Growl
            li
              a(href='../login/index.html') Logout
              
    #msgModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='msgModal', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            |  
            button.btn.btn-sm.btn-primary.pull-right.app-new-msg.js-newMsg(type='button') New message
            h4.modal-title Messages
          .modal-body.p-a-0.js-modalBody
            .modal-body-scroller
              .media-list.media-list-users.list-group.js-msgGroup
                a.list-group-item(href='#')
                  .media
                    span.media-left
                      img.img-circle.media-object(src='../assets/img/avatar-fat.jpg')
                    .media-body
                      strong Jacob Thornton
                      |  and 
                      strong 1 other
                      .media-body-secondary  Aenean eu leo quam. Pellentesque ornare sem lacinia quam &mldr;
                a.list-group-item(href='#')
                  .media
                    span.media-left
                      img.img-circle.media-object(src='../assets/img/avatar-mdo.png')
                    .media-body
                      strong Mark Otto
                      |  and 
                      strong 3 others
                      .media-body-secondary  Brunch sustainable placeat vegan bicycle rights yeah&mldr;
                a.list-group-item(href='#')
                  .media
                    span.media-left
                      img.img-circle.media-object(src='../assets/img/avatar-dhg.png')
                    .media-body
                      strong Dave Gamache
                      .media-body-secondary  Brunch sustainable placeat vegan bicycle rights yeah&mldr;
                a.list-group-item(href='#')
                  .media
                    span.media-left
                      img.img-circle.media-object(src='../assets/img/avatar-fat.jpg')
                    .media-body
                      strong Jacob Thornton
                      |  and 
                      strong 1 other
                      .media-body-secondary  Aenean eu leo quam. Pellentesque ornare sem lacinia quam &mldr;
                a.list-group-item(href='#')
                  .media
                    span.media-left
                      img.img-circle.media-object(src='../assets/img/avatar-mdo.png')
                    .media-body
                      strong Mark Otto
                      |  and 
                      strong 3 others
                      .media-body-secondary  Brunch sustainable placeat vegan bicycle rights yeah&mldr;
                a.list-group-item(href='#')
                  .media
                    span.media-left
                      img.img-circle.media-object(src='../assets/img/avatar-dhg.png')
                    .media-body
                      strong Dave Gamache
                      .media-body-secondary  Brunch sustainable placeat vegan bicycle rights yeah&mldr;
                a.list-group-item(href='#')
                  .media
                    span.media-left
                      img.img-circle.media-object(src='../assets/img/avatar-fat.jpg')
                    .media-body
                      strong Jacob Thornton
                      |  and 
                      strong 1 other
                      .media-body-secondary  Aenean eu leo quam. Pellentesque ornare sem lacinia quam &mldr;
                a.list-group-item(href='#')
                  .media
                    span.media-left
                      img.img-circle.media-object(src='../assets/img/avatar-mdo.png')
                    .media-body
                      strong Mark Otto
                      |  and 
                      strong 3 others
                      .media-body-secondary  Brunch sustainable placeat vegan bicycle rights yeah&mldr;
                a.list-group-item(href='#')
                  .media
                    span.media-left
                      img.img-circle.media-object(src='../assets/img/avatar-dhg.png')
                    .media-body
                      strong Dave Gamache
                      .media-body-secondary  Brunch sustainable placeat vegan bicycle rights yeah&mldr;
              .hide.m-a.js-conversation
                ul.media-list.media-list-conversation
                  li.media.media-current-user.m-b-md
                    .media-body
                      .media-body-text
                        | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
                      .media-footer
                        small.text-muted
                          a(href='#') Dave Gamache
                          |  at 4:20PM
                    |  
                    a.media-right(href='#')
                      img.img-circle.media-object(src='../assets/img/avatar-dhg.png')
                  li.media.m-b-md
                    a.media-left(href='#')
                      img.img-circle.media-object(src='../assets/img/avatar-fat.jpg')
                    .media-body
                      .media-body-text
                        | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                      .media-body-text
                        | Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                      .media-body-text
                        | Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                      .media-footer
                        small.text-muted
                          a(href='#') Fat
                          |  at 4:28PM
                  li.media.m-b-md
                    a.media-left(href='#')
                      img.img-circle.media-object(src='../assets/img/avatar-mdo.png')
                    .media-body
                      .media-body-text
                        | Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
                      .media-body-text
                        | Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                      .media-footer
                        small.text-muted
                          a(href='#') Mark Otto
                          |  at 4:20PM
                  li.media.media-current-user.m-b-md
                    .media-body
                      .media-body-text
                        | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
                      .media-footer
                        small.text-muted
                          a(href='#') Dave Gamache
                          |  at 4:20PM
                    |  
                    a.media-right(href='#')
                      img.img-circle.media-object(src='../assets/img/avatar-dhg.png')
                  li.media.m-b-md
                    a.media-left(href='#')
                      img.img-circle.media-object(src='../assets/img/avatar-fat.jpg')
                    .media-body
                      .media-body-text
                        | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                      .media-body-text
                        | Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                      .media-body-text
                        | Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                      .media-footer
                        small.text-muted
                          a(href='#') Fat
                          |  at 4:28PM
                  li.media.m-b
                    a.media-left(href='#')
                      img.img-circle.media-object(src='../assets/img/avatar-mdo.png')
                    .media-body
                      .media-body-text
                        | Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
                      .media-body-text
                        | Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                      .media-footer
                        small.text-muted
                          a(href='#') Mark Otto
                          |  at 4:20PM

    block content

    script(src='../assets/js/jquery.min.js')
    script(src='../assets/js/chart.js')
    script(src='../assets/js/toolkit.js')
    script(src='../assets/js/application.js')
    script.
      $(function() {
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while (BS.loader.length) {
            (BS.loader.pop())();
          }
        }
      });
